.backbody{
    background-color: rgb(134, 33, 218);
}
a{
    color: ghostwhite;
}

#card, #score
{
    width: 400px;
    display: none;
}

#start, #exit, #restart, #goback, #clear{
    background-color: indigo;
    color: ivory;
}

#instructions, #highscores
{
    
    width: 400px;
    display: initial;
    
}

.scoresline
{
    background-color: mediumslateblue;
    color: white;
    border: 2px;
    border-color: white;

}